# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.pytest_cache/

# Virtual environment
ai_service/.env
venv/
ai_service/.env/
.venv

# Logs
*.log

# Editor & OS files
.vscode/
.DS_Store
.idea/

# IntelliJ & Java
.idea/
target/
*.iml

# SonarQube Scanner
.scannerwork/

# Test Coverage Reports
.coverage
coverage.xml
htmlcov/

# Database Client / IDE sessions (ex: DBeaver, DataGrip)
*.session.sql
"Neon DB Backend.session.sql"

# Arhive locale
*.zip
tests.zip